*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    
}

.background-image{
    background-image: url('../assets/images/background-line-dots.png');
    background-size: contain;
    
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    .ellipse{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 300px;
    }

    .ellipse-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 300px;
    }

    .bg-circle{
        position: absolute;
        bottom: -140px;
        left: 160px;
    }

}
@media(max-width: 1220px){
    .background-image{
        background-size: 160%;
        .ellipse, .ellipse-bottom{
            width: 150px;
        }
    }
    .bg-circle{
        display: none
    }  

    
}
@media(max-width: 750px){
    .background-image{
        background-size: 300%;
    }
}


@import 'partials/variables';
@import 'partials/button';
@import 'partials/nav';
@import 'partials/loader';
@import 'partials/hero';


.floating-element{
    transition: all .1s;
    // animation: floatingElement 1s infinite alternate;
}
// @for $i from 1 through 10 {
//     .floating-element:nth-child(#{$i}){
//         animation-duration: #{0.4 + random(8) / 10}s;
//     }
// }
@keyframes floatingElement {
    to{
        transform: translateY(30px);
    }
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $pink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $purple;
}
