$orange: #DD9855; 
$darkGrey: #202020;

$purple: #991851;
$pink: #EB1974;
$linear-gradient: linear-gradient(95.72deg, #E51A72 23.81%, #FF7E47 100%);


$boxShadow: 35px 33px 43px 3px rgba(0, 0, 0, 0.11);
$easingStat: cubic-bezier(1, -0.53, 0.37, 0.71);